<!DOCTYPE html>
<html>
	<head>
		{include file="index@public/header_com"/}
		<link rel="stylesheet" href="__HOME_CSS__/laydate.css" />
		<link rel="stylesheet" href="__HOME_JS__/layui/css/layui.css" />
		<script type="text/javascript" src="__HOME_JS__/laydate.js" ></script>
		<script type="text/javascript" src="__HOME_JS__/layui/layui.js" ></script>
		<title>{block name="title"}{:config('web_site_title')}{/block}</title>
	</head>
	<style type="text/css">
		.posmain dl{
			width: 14%;
		}
	</style>
<div id="oldinfo" class="oldinfomain">
	<div class="oldinfoh1">
		交易明细
	</div>
	<div class="oldinfobody">
		<ul>
			<li>浦发银行 <span>600000</span></li>
			<li>交易单号<span>TS34324322421</span></li>
		</ul>
		<ul>
			<li>股票数量 <span>100</span></li>
			<li>卖出类型<span>手动卖出</span></li>
		</ul>
		<ul>
			<li>买入价格 <span>10.08</span></li>
			<li>卖出价格<span>9.69</span></li>
		</ul>
		<ul>
			<li>买入时间 <span>2018-12-21 16:23:22</span></li>
			<li>卖出时间<span>2018-12-23 16:23:22</span></li>
		</ul>
		<ul>
			<li>持仓时间 <span>5天</span></li>
			
		</ul>
	</div>
	<div class="oldinfoh1">
		资金明细
	</div>
	<div class="oldinfobody">
		<ul>
			<li>交易本金 <span>10000</span></li>
			<li>信用金<span>6000</span></li>
		</ul>
		<ul>
			<li>交易综合服务费 <span>45</span></li>
			<li>续期费用<span>1.87</span></li>
		</ul>
		<ul>
			<li>返还信用金 <span>45</span></li>
			<li>交易盈亏<span>1.87</span></li>
		</ul>
		
	</div>
</div>
	<body>
{include file="index@public/header" /}
		<div class="usermain">
{include file="public/left" /}
			<div class="userright left">
				<div class="potitle">
					<ul>
						<li data="trade" class="select">历史持仓</li>
					</ul>
				</div>
				<div class="clear"></div>
				<div id="trade" class="pomain" style="display: block;">
				<div class="posititle">
					<ul class="list">
						<li>日期查询</li>
					</ul>
					<div class="stime">
						<input type="text" id="test1" class="setime">
						<p>~</p>
						<input type="text" id="test2" class="setime">
						<button onclick="searchs()">查询</button>
					</div>
				</div>
				<div id="trade_list" >

				</div>

				<div style="text-align: right;"  id="tradepage1"></div>
				<div class="null"></div>
				</div>
				
			</div>
		</div>
{include file="index@public/footer"/}
		<script>
			//执行一个laydate实例
			laydate.render({
			  elem: '#test1'
			   
			});
			laydate.render({
			  elem: '#test2'
			   
			});
			
		</script>

		<script type="text/javascript">
			var type = 'trade';
			var page = 1;
			var count = 0;
			var time ='';
			var catory ='';
			$(function(){

				get_list(page,type,time,catory);	

			})
			function searchs(){
				var test1 = $("#test1").val();
				var test2 = $("#test2").val();
				if(test1 == '' && test2 !=''){
					layer.msg("请输入搜索完整时间段");
				}
				if(test1 != '' && test2 ==''){
					layer.msg("请输入搜索完整时间段");
				}
				if(test1 !=''&& test2 != ''){
					time = test1+"|"+test2;
					get_list(page,type,time,catory);
				}
			}

			function get_list(page,type,time,catory){

				//layer.load();
				$.post('trade/index',{"type":type,"time":time,"page":page},function(d){

					layer.closeAll();

					if(d.list!=''){
						var htmls ='';


						$.each(d.list,function(i,val){

						htmls += '<div class="positions" style="width:950px;padding-left:30px;"><div class="posmain"><dl>';
						htmls +='<dt>'+val.gupiao_name+'<span>'+val.gupiao_code+'</span></dt>';			
						htmls +='<dd>股票数量    <span>'+val.trush_number+'</span></dd></dl>';
						htmls +='<dl><dt>收益    <span class="red">'+val.repay_profits+'</span></dt>';
						htmls +='<dd>卖出类型    <span class="green">'+val.sell_types+'</span></dd></dl>';
						htmls +='<dl><dt>买入价    <span>'+val.trush_price+'</span></dt>';
						htmls +='<dd>卖出价    <span class="red">'+val.sell_price+'</span></dd></dl>';
						htmls +='<dl><dt>信用金<span>'+val.credit_money+'</span></dt>';
						htmls +='<dd>返还信用金    <span class="red">'+val.repay_creat_money+'</span></dd></dl>';
						htmls +='<dl><dt>买入时间    <span title="'+val.create_time_miao+'">'+val.create_times+'</span></dt>';
						htmls +='<dd>卖出时间      <span class="red" title="'+val.sell_time_miao+'">'+val.sell_times+'</span></dd></dl>';
						htmls +='<a class="sell" href="javascript:void(0)" onclick="checkinfo('+val.id+')">查看</a></div></div>';

						})
						$('#'+type+'_list').html(htmls);
						page = d.page;

						count = d.count;
						layui.use('laypage', function(){
						  var laypage = layui.laypage;
						  
						  //执行一个laypage实例
						  laypage.render({
						     elem: type+'page1' //注意，这里的 test1 是 ID，不用加 # 号
						    ,count: count //数据总数，从服务端得到
						    ,limit:10
						    ,curr : page
						    ,theme:'#ec3e2e'
						    ,jump: function(obj,first){
				              if(!first){ //点击跳页触发函数自身，并传递当前页：obj.curr
			                      get_list(obj.curr,type);
			                 	 }

			    			  }
						  });
						});

					}else{
						$('#'+type+'_list').html('');
					}

				},'json')


			}



		</script>
		<script>
			$(".potitle li").on('click',function(){
				$(".potitle li").eq($(this).index()).addClass('select').siblings().removeClass('select')
				$(".pomain").hide().eq($(this).index()).show()
				type = $(this).attr('data')
				get_list(page,type)
			})
			$(".tcdPageCode1").createPage({
		        pageCount:1,
		        current:1,
		        backFn:function(p){
		            console.log(p);
		        }
		    });
		    $('.time1 li').on('click',function(){

		    	$(".time1 li").eq($(this).index()).addClass('select').siblings().removeClass('select')


		    })

		    function checkinfo(id){

		    	$.post('trade/oldinfo',{"id":id},function(d){
		    		var htmls = '';
	    		     htmls += '<div class="oldinfoh1">交易明细</div>';
	                 htmls += '<div class="oldinfobody"><ul><li>'+d.gupiao_name+' <span>'+d.gupiao_code+'</span></li><li>交易单号<span>'+d.order_no+'</span></li></ul>';
					 htmls += '<ul><li>股票数量 <span>'+d.trush_number+'</span></li><li>卖出类型<span>'+d.sell_types+'</span></li></ul>';
					 htmls += '<ul><li>买入价格 <span>'+d.trush_price+'</span></li><li>卖出价格<span>'+d.sell_price+'</span></li></ul>';
					 htmls += '<ul><li>买入时间 <span>'+d.deal_times+'</span></li><li>卖出时间<span>'+d.sell_times+'</span></li></ul>';
					 htmls += '<ul><li>持仓时间 <span>'+d.chi_day+'天</span></li></ul></div>';
					 htmls += '<div class="oldinfoh1">资金明细</div>';
					 htmls += '<div class="oldinfobody"><ul><li>交易本金 <span>'+d.all_money+' </span></li><li>信用金<span>'+d.credit_money+'</span></li></ul>';
					 htmls += '<ul><li>交易综合服务费 <span>'+d.service_money+'</span></li><li>续期费用<span>'+d.defer_money+'</span></li></ul>';
					 htmls += '<ul><li>返还信用金 <span>'+d.repay_creat_money+'</span></li><li>交易盈亏<span>'+d.repay_profits+'</span></li></ul></div>';
					$("#oldinfo").html(htmls);
		    		layer.open({
					  type: 1,
					  title:'策略详情',
					  area:['900px','650px'],
					  content: $("#oldinfo")
					});
		    	})
		    	
		    }
		</script>
	</body>
</html>
