				<div class="assets">
					<ul>
						<li>
							<dl>
								<dt>总资产</dt>
								<dd>{$info.vip_money}</dd>
								<dd><img src="__HOME_IMG__/bo1.png"</dd>
							</dl>
						</li>
						<li>
							<dl>
								<dt>冻结金额</dt>
								<dd>{$info.vip_freeze}</dd>
								<dd><img src="__HOME_IMG__/bo2.png"</dd>
							</dl>
						</li>
						<li>
							<dl>
								<dt>钱包余额</dt>
								<dd>{$info.vip_money}</dd>
								<dd><img src="__HOME_IMG__/bo3.png"</dd>
							</dl>
						</li>
						<li>
							<a class="toch" href="{:url('@vip/recharge')}">充值</a>
							<a class="towd" href="{:url('@vip/withdraw')}">提现</a>
						</li>
					</ul>
				</div>