<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		{include file="public/header_com" /}
		<title></title>
      <style>
        .downbg{
        	position:relative;
        }
        .downbg img{
        
        	/*display:none;*/
          position: absolute;
          left: 43%;
          top: 60%;
          width: 200px;
          height: 200px;

        }
      
      
      </style>
	</head>
	<body>
		{include file="public/header" /}
		<div class="down">
			<div class="downbg">
				<img src="__HOME_IMG__/Android.png"/>
              <img src="__HOME_IMG__/ios.png"/>
			</div>

			<!-- <p>Copyright © 2015-2017 All rights reserved.    股市有风险,投资需谨慎 </p> -->
		</div>
		{include file="public/footer" /}
	</body>
</html>
