<style>
  .ftrmain img{
  
  	width:100px;
    height:100px
  }
</style>	
<div class="footer">
			<div class="main">
				<div class="ftrmain">
					<dl>
						<dt>关于我们</dt>
						<dd>公司简介</dd>
						<dd>联系我们</dd>
					</dl>
					<dl>
						<dt>常见问题</dt>
						<dd>帮助中心</dd>
						<dd>新手指引</dd>
					</dl>
					<dl>
						<dt>策略跟投</dt>
						<dd>实盘策略</dd>
						<dd>抄股大赛</dd>
					</dl>
					<ul>
						<li><img src="__HOME_IMG__/Android.png"/></li>
						<li>Android下载</li>
					</ul>
					<ul>
						<li><img src="__HOME_IMG__/ios.png"/></li>
						<li>IOS下载</li>
					</ul>
					<div class="ftrright right">
						<p>客服热线：<span>{:config('contact_tell')}</span></p>
						<ul>
							<li>工作时间：{:config('web_work_time')}</li>
							<!--<li>官方交流群：{:config('web_discuss')}</li>-->
						</ul>
					</div>
				</div>
			<p class="ftrbottom">股市有风险，投资需谨慎</p>
			</div>
		</div>