<link rel="stylesheet" href="__HOME_CSS__/style.css" />
<link rel="stylesheet" href="__HOME_CSS__/ticker-style.css" />
<link rel="stylesheet" href="__HOME_CSS__/honeySwitch.css" />
<script type="text/javascript" src="__HOME_JS__/jquery-1.11.3.min.js" ></script>
<script type="text/javascript" src="__HOME_JS__/slider.js" ></script>
<script type="text/javascript" src="__HOME_JS__/myslideup.js" ></script>
<script type="text/javascript" src="__HOME_JS__/jquery.page.js" ></script>
<script type="text/javascript" src="__HOME_JS__/honeySwitch.js" ></script>
<script type="text/javascript" src="__HOME_JS__/layer/layer.js" ></script>
<script type="text/javascript" src="__HOME_JS__/public.js" ></script>